* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  height: 100vh;
  background: linear-gradient(135deg, #e9d5ff, #c7d2fe);
  display: flex;
  align-items: center;
  justify-content: center;
}

.auth-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.auth-card {
  background: white;
  width: 380px;
  padding: 35px;
  border-radius: 20px;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.12);
  text-align: center;
}

.auth-card h2 {
  font-size: 26px;
  margin-bottom: 8px;
}

.sub-text {
  font-size: 14px;
  color: #6b7280;
  margin-bottom: 25px;
}

.input-group {
  text-align: left;
  margin-bottom: 15px;
}

.input-group label {
  font-size: 13px;
  color: #555;
  margin-bottom: 5px;
  display: block;
}

.input-group input {
  width: 100%;
  padding: 12px;
  border-radius: 12px;
  border: 1px solid #ddd;
  outline: none;
  font-size: 14px;
}

.input-group input:focus {
  border-color: #a78bfa;
  box-shadow: 0 0 0 3px rgba(167, 139, 250, 0.2);
}

.btn {
  width: 100%;
  padding: 12px;
  margin-top: 15px;
  border: none;
  border-radius: 14px;
  background: linear-gradient(135deg, #a78bfa, #8b5cf6);
  color: white;
  font-size: 15px;
  cursor: pointer;
  transition: 0.3s;
}

.btn:hover {
  transform: translateY(-2px);
  box-shadow: 0 10px 20px rgba(139, 92, 246, 0.3);
}

.bottom-text {
  margin-top: 18px;
  font-size: 14px;
}

.bottom-text a {
  color: #8b5cf6;
  font-weight: 500;
  text-decoration: none;
}
