:root {
  --bg: #f7f7fb;
  --card: #ffffff;
  --text: #1f2937;
  --muted: #6b7280;

  --income: #d1fae5;
  --expense: #fee2e2;
  --balance: #e0e7ff;

  --btn: #bfa7f3;
}

body.dark {
  --bg: #0f172a;
  --card: #1e293b;
  --text: #e5e7eb;
  --muted: #94a3b8;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background: var(--bg);
  color: var(--text);
}

/* TOP BAR */
.top-bar {
  display: flex;
  justify-content: space-between;
  padding: 20px 40px;
}

.top-bar p {
  color: var(--muted);
}

/* BUTTONS */
.toggle-btn,
.logout-btn {
  border: none;
  padding: 10px 15px;
  margin-left: 10px;
  border-radius: 10px;
  background: var(--btn);
  color: white;
  cursor: pointer;
}

/* CONTAINER */
.container {
  max-width: 1100px;
  margin: auto;
  padding: 20px;
}

/* SUMMARY */
.summary {
  display: flex;
  gap: 20px;
  margin-bottom: 30px;
}

.summary-card {
  flex: 1;
  padding: 20px;
  border-radius: 18px;
}

.income { background: var(--income); }
.expense { background: var(--expense); }
.balance { background: var(--balance); }

/* CARD */
.card {
  background: var(--card);
  padding: 20px;
  margin-bottom: 25px;
  border-radius: 18px;
}

/* INPUTS */
input, select, button {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  border-radius: 10px;
  border: 1px solid #ccc;
}

/* TRANSACTIONS */
#transactionList {
  list-style: none;
}

#transactionList li {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border-bottom: 1px dashed #ccc;
}

/* CHARTS */
canvas {
  width: 100% !important;
  height: 260px !important;
}
