body {
  margin: 0;
  font-family: Poppins, sans-serif;
  background: #f6f7fb;
}

.top-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 30px;
}

.back-btn {
  padding: 10px 14px;
  border-radius: 12px;
  border: none;
  cursor: pointer;
}

.search-box {
  padding: 0 30px 20px;
}

.search-box input {
  width: 100%;
  padding: 14px;
  border-radius: 16px;
  border: none;
}

#transactionList {
  list-style: none;
  padding: 0 30px;
}

#transactionList li {
  background: white;
  border-radius: 16px;
  padding: 16px;
  margin-bottom: 12px;
  display: flex;
  justify-content: space-between;
}
